<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome</h1>
    <div><a href="{% url 'Show_image' %}">Gellary</a></div><br><br><br>

    <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% if msg %}
            <div><p>{{msg}}</p></div>
            {% endif %}
            <div>
                <label for="">Name :</label>
                <input type="text" name="name">
            </div><br>
            <div>
                <label for="">Color :</label>
                <input type="text" name="color">
            </div><br>
            <div>
                <label for="">Description :</label>
                <input type="text" name="decription">
            </div><br>
            <div>
                <label for="">Price :</label>
                <input type="text" name="price" id="">
            </div><br>
            <div>
                <label for="">Image :</label>
                <input type="file" name="image">
            </div><br>
            <div>

                <input type="submit">
            </div>




            


        </div>
    </form>
</body>

</html>